@media (max-width: 725px) {

    * {
        overflow-x: hidden;
    }

    body {
        display: block;
        margin: 3% auto;
        height: auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: auto;
        /* margin-top: 12%; */
    }

    .container-text {
        flex: 2;
    }

    .container-form {
        flex: 3;
    }

    h1 {
        line-height: normal;
    }

    label .error-container {
        color: var(--red);
        margin: -60px 0 3% 0;
        flex-direction: column;
    }
}