@media (max-width: 375px) {

    h1 {
        line-height: 1.1em;
        font-size: 50px;
        word-spacing: 0.015em;
    }

    label .error-text {
        font-size: 15px;
        margin: 7% auto;
    }

    small {
        display: flex;
        flex-direction: column;
    }

}